<div>
  <h1 class="font-bold text-4xl text-green-600 content-center">Welcome to Homey Tasks!</h1>
   <%= link_to "Login", new_user_session_path, class: "block uppercase mx-auto shadow bg-indigo-800 hover:bg-indigo-700 focus:shadow-outline focus:outline-none text-white text-xs py-3 px-10 rounded my-6 text-center"%>

</div>
